@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.cart {
    width: 365px;
    height: 150px;
    max-width: 365px;
    /* max-height: 530px; */
    background-color: #F5F5F5;
    font-family: 'Inter', sans-serif;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
@media (max-width: 650px){
    .cart {
        width: 100%;
        max-width: 425px;
    }
}
@media (max-width: 996px) {
    .cart {
        margin: 0 auto;
    }
}
.cartHeader {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: .5rem;
    background-color: #27AE60;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.empty {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.empty h3 {
    margin-bottom: .5rem;
    font-weight: 700;
    font-size: 1rem;
}
.empty span {
    font-size: .8rem;
    color: #828282;
}
.full {
    max-height: 300px;
    overflow: auto;
    background-color: #F5F5F5;
}